.meena{
    font-size: 25px;
    color: aqua;
    margin-left: 30px;
}

.ul1{
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}

a{
    text-decoration: none;
}
.list1{
    margin: 20px;
    color: white;
    font-size: 20px;
}



.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
}

.list1:hover{
    color: lightgreen;
}


.meena:hover{
    color: yellow;
}

.ul1:hover{
    color: black;
}

.backimg1{
    background-image: url("https://images4.alphacoders.com/110/1102430.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 1255px;
}

.info1{
    margin-left: 30px;
    margin-top: 60px;
}

.headtag{
    font-size: 80px;
    color: white;
}

.spanworld{
    color: lightgreen;
}

.b1{
    background-color: lightgreen;
    font-size: 15px;
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 5px;
}

.b1:hover{
    color: white;
    background-color: orange;
}

.hw{
    height: 45px;
    width: 45px;
    margin-right: 15px;
}

.head2{
    color: green;
    font-size: 25px;
}

.head1{
    font-size: 34px;
}

.para2{
    font-size: 20px;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    margin-right: 30px;
    margin-left: 70px;
}

.image1, .image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image1{
    margin-left: 170px;
    height: 500px;
    width: 370px;
}

.image2{
    height: 360px;
    width: 400px;
    margin-top: 220px;
}

.div1{
    margin-left: 30px;
}

.div12{
    display: flex;
    margin-top: 100px;
}

.serviceshead{
    font-size: 45px;
    text-align: center;
    color: lightgreen;
    padding-top: 150px;
    
}

.services{
    margin-top: 100px;
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.bL2wjy8ZarWW-Vo6q3dfsQHaEo&pid=Api&P=0&h=180");
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    height: 210px;
    width: 180px;
    border: 1px solid rgb(135, 134, 134);
    border-radius: 30px;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    background-color: white;
    
    
}

.flex1{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 150px;


}

.logos{
    height: 90px;
    width: 90px;
}

.box:hover{
    background-color: lightgreen;
    color: white;
}

.best{
    font-size: 45px;
}

.para3{
    font-size: 20px;
    
}

.f1{
    display: flex;
    align-items: center; /* Align text vertically in the center of the image */
    padding: 20px;
    border: 1px solid rgb(135, 134, 134);
    border-radius: 20px; /* Rounded corners */
    width: 260px; /* Adjust width as needed */
    margin: 20px;
    font-size: 20px;
}

.flex2{
    display: flex;
}

.logo1{
    height: 90px;
    width: 90px;
    margin-right: 20px;
   
}

.flex3{
    display: flex;
}

.f1:hover{
    background-color: lightgreen;
    color: white;
}

.divbest{
    margin-left: 30px;
 
}

.div4{
    margin-right: 30px;
    
    margin-left: 100px;
}

.div34{
    display: flex;
    margin-bottom: 100px;
}

.fl1{
    font-size: 35px;
    color: white;
}

.para4{
    font-size: 20px;
    color: white;
}

.footer{
    background-color: black;
}

.footerdiv{
    display: flex;
    justify-content: space-between;
}

.Logo{
    margin-left: 30px;
}

.contact{
    margin-right: 30px;
}

.footerbar{
    background-color: rgb(15, 14, 14);
    display: flex;
    justify-content: space-between;
}

.ftext{
    margin-left: 30px;
    color: white;
}

.by{
    margin-right: 30px;
    color: white;
}

.spanhome{
    color: aqua;
}